.body{
	position:relative;
	left: 0%;
	top: 0%; 
	height: 100%; 
	width: 100%; 
	margin: 0;
}

#cert_container{
	background: url("../images/Certificate.jpg");
	background-size: 906px 700px;
	background-repeat: no-repeat;
	height: 700px;
	width: 906px;
	border-style: outset;
	border-width: 5px;
	border-color: #999999;
	position: relative;

}

.score {
	position: absolute;
	left:14%;
	top:73%;
	font-size:250%;
}

.name {
	position: absolute;
	left:38%;
	top:47%;
	font-size:250%;
}

.seal{
	position:absolute;
	left:77%;
	top:10%;
}