@charset "utf-8";
/* CSS Document */

/*Login stuff*/
.bodyStyle{
	background-color:white;
}
.loginDiv{
	opacity:0.9;
	padding:100px;
	width:350px;
	height:150px;
	border-radius:50px;
	background-color:#FFF7CC;
	box-shadow: 7px 7px 7px #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -175px;
	margin-left: -275px;
}
.button{
	float:center;
	margin-left: 90px;
	margin-right: 30px;
	width: 160px;
	border-radius: 8px;
	border-color: white;
	background-color: #DC143C;
	color: white;
}

button.button:hover {
	color: #DC143C;
	background-color: white;
}

.titleText{
	float:left;
	padding:10px;
	font-size:20px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
	border-width: 2px;
	border-color:white;
	border-style: solid;
	border-radius:4px;
	background-color: #DC143C;
	color: white;
	width:307px;
}
.textSettings{
	font-family:'helvetica neue', 'segoe ui', sans-serif;
	font-size:14;
}
.inputList{
	-webkit-padding-start: 0px !important;
}
.inputBox{
	margin-left:2px;
	width:327px;
	border-color:black;
	border-width: 2px;
	border-style: solid;
	border-radius:4px;
	background-color:white;
}
.inputBox:focus{
	outline-color:#DC143C;
}

.disabledButton{
	float: center;
	margin-left: 90px;
	margin-right: 30px;
	width: 160px;
	border-radius: 8px;
	border-color: white;
	background-color: grey;
	color: white;
}

.badPassword{
	margin-left:2px;
	width:327px;
	border-color:black;
	border-width: 2px;
	border-style: solid;
	border-radius:4px;
	background-color:#FFB2B2;
}

.myform{
	float:left;
	display: block;
}

.indexBody{
	padding:100px;
	width:350px;
	height:500px;
	border-color:#68228B;
	border-width: 2px;
	border-style: solid;
	border-radius:8px;
	margin:auto;
	background-color:#F0F0F0;
}

.indexTitle{
	float:left;
	padding:10px;
	font-size:20px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
	border-width: 2px;
	border-color:grey;
	border-style: solid;
	border-radius:4px;
	background-color: #FFFFFF;
	color: black;
	width:307px;
}

/*Welcome Page Stuff*/

#title_banner {
	width: 100%;
}

.logout_button {
	float: right;
	width: 90px;
	height: 45px;
	border-radius: 5px;
	border-color: #00008B;
	border-width : 3px;
	background-color: #6495ED;
	color: white;
	font-size: 18px;
}

button.logout_button:hover {
	background-color: white;
	color: #00008B;
}

.game_body {
	background: url('../images/underwater_wallpaper.png');
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: url('../images/scuba_dive_md_clr1.gif');
}

#game_banner {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	display: inline-block;
	padding: 20px 0 20px;
}

.bigbutton{
	float:center;
	width: 300px;
	height: 150px;
	border-radius: 20px;
	border-color: #00008B;
	border-width : 3px;
	background-color: #6495ED;
	color: white;
	font-size:35px;
}

button.bigbutton:hover {
	background-color: white;
	color: #00008B;
}

.farRight{
	float:right;
	display: block;
}
.buttonDivVertical{
	width: 20px;
}

.hugeTitleText{
	padding-left: 0;
	padding-bottom:10px;
	padding-right: 10px;
	margin-top: 10px;
	font-size:50px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
	border-width: 2px;
	border-color:white;
	border-style: solid;
	border-radius: 30px;
	box-shadow: 7px 7px 7px #000000;
	background-color: #FFF7CC;
	color: #DC143C;
	width:307px;
}

.rotate {
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    -o-transition-duration: 1.2s;
    transition-duration: 1.2s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
 
.rotate:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.shuffle {
	width: 500px;
	height: 10px;
	margin-left: 330px;
	margin-top: 80px;
	display: block;
}

.shuffle img {
	width: 600px;
	height: auto;
	border-radius: 10px;
	box-shadow: 7px 7px 7px #000000;
}

#music_controls {
	position: fixed;
	bottom: 0;
	right: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	text-align: center;
	color: white;
	border-radius: 15px;
	background-color: #666666;
	opacity: 0.3;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
}

#music_controls:hover {
	opacity: 0.8;
}

#music_buttons {
	padding: 15px;
}

.play {
	float: right;
	width: 90px;
	height: 50px;
	border-radius: 5px;
	border-color: #000000;
	background-color: #666666;
	color: white;
	font-size: 18px;
	padding-right: 15px;
}

button.play:hover {
	background-color: #B2B2B2;
}

.pause {
	float: right;
	width: 90px;
	height: 50px;
	border-radius: 5px;
	border-color: #000000;
	background-color: #666666;
	color: white;
	font-size: 18px;
	padding-right: 15px;
}

button.pause:hover {
	background-color: #B2B2B2;
}

.mute {
	float: right;
	width: 90px;
	height: 50px;
	border-radius: 5px;
	border-color: #000000;
	background-color: #666666;
	color: white;
	font-size: 18px;
	padding-right: 15px;
}

button.mute:hover {
	background-color: #B2B2B2;
}