/*Stylesheet for the Equation Creator pages*/

.recognitionDiv{
    opacity:0.9;
    padding: 25px 75px 75px;
	width:85%;
	height:150px;
	border-radius:50px;
	background-color:#FFF7CC;
	box-shadow: 7px 7px 7px #000000;
	position: absolute;
	top: 175px;
	margin-left: 15px;
	margin-right: 15px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
}

.levelTwo {
	opacity:0.9;
    padding: 25px 75px 75px;
	width:85%;
	height:325px;
	border-radius:50px;
	background-color:#FFF7CC;
	box-shadow: 7px 7px 7px #000000;
	position: absolute;
	top: 175px;
	margin-left: 15px;
	margin-right: 15px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
}

.levelThree {
	opacity:0.9;
    padding: 25px 75px 75px;
	width:85%;
	height:325px;
	border-radius:50px;
	background-color:#FFF7CC;
	box-shadow: 7px 7px 7px #000000;
	position: absolute;
	top: 175px;
	margin-left: 15px;
	margin-right: 15px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
}

.levelFourFive {
	opacity:0.9;
    padding: 25px 75px 75px;
	width:85%;
	height:325px;
	border-radius:50px;
	background-color:#FFF7CC;
	box-shadow: 7px 7px 7px #000000;
	position: absolute;
	top: 175px;
	margin-left: 15px;
	margin-right: 15px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
}

.newUser {
	opacity:0.9;
    padding: 25px 75px 75px;
	width:85%;
	height:75px;
	border-radius:50px;
	background-color:#FFF7CC;
	box-shadow: 7px 7px 7px #000000;
	position: absolute;
	top: 175px;
	margin-left: 15px;
	margin-right: 15px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
}

.equationDiv {
	opacity:0.9;
	border-radius:50px;
	background-color:#FFF7CC;
	position: absolute;
}

#eq_head {
	font-family:'helvetica neue', 'segoe ui', sans-serif;
	padding-bottom: 15px;
}