/*Stylesheet for gamePage*/

.game_body {
	background: url('/assets/images/hawaii_backdrop.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

a {
	color: #FFFFFF;
}

#tank{
	background-color: #FF0000;
	height: 450px;
	width: 150px;
	border-radius: 50px;
	z-index: 1;
}

#filledTank{
	position: relative;
	background-color: #80B2FF;
	height: 90%;
	width: 70%;
	left: 15%;
	top: 4%;
	z-index: 2;
}

#emptyTank{
	position: relative;
	background-color: #800000;
	height: 100%;
	width: 100%;
	top: 0%;
	z-index: 3;
	-webkit-transition: 3s;
	-moz-transition: 3s;
	-ms-transition: 3s;
	-o-transition: 3s;
	transition: 3s;	
}

#answer{
	height: 250px;
	width: 250px;
	background-color: white;
}

#playButton{
	visibility:visible;
}


