@charset 'utf-8'

.recordtable {	
	width: auto;
	height: auto;
	border-radius: 10px;
	padding: 5px 5px 5px;
	margin-left:auto; 
    margin-right:auto;
}

.recordsdiv {
	margin-top: 15px 15px 15px;
	padding: 15px;
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.recordrow {
	background-color: #FFF7CC;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
}

.recordrow td, th.recordheader {
	white-space: nowrap;
	padding: 5px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
}

.recordrow:hover { 
	background-color:#DC143C;
	color: #FFFFFF;
}

.recordheader {
	width: 100%;
	background-color: #328FB3;
	color:#B33239;
	color: #FFFF4D;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#recordtitle {
	padding-left: 0;
	padding-bottom:10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-left: 15%;
	font-size:50px;
	font-family:'helvetica neue', 'segoe ui', sans-serif;
	border-width: 2px;
	border-color:white;
	border-style: solid;
	border-radius: 30px;
	box-shadow: 7px 7px 7px #000000;
	background-color: #FFF7CC;
	color: #DC143C;
	width:307px;
}

.game_body {
	background: url('../images/underwater_wallpaper.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#title_banner {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.logout_button {
	float: right;
	width: 110px;
	height: 60px;
	border-radius: 5px;
	border-color: #00008B;
	border-width : 3px;
	background-color: #6495ED;
	color: white;
	font-size: 20px;
}

button.logout_button:hover {
	background-color: white;
	color: #00008B;
}

.mainmenu_button {
	float: left;
	padding-top: 0;
	vertical-align: top;
	width: 130px;
	height: 60px;
	border-radius: 5px;
	border-color: #00008B;
	border-width : 3px;
	background-color: #6495ED;
	color: white;
	font-size: 20px;
}

button.mainmenu_button:hover {
	background-color: white;
	color: #00008B;
}

#music_controls {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: center;
  color: white;
  border-radius: 15px;
  /*background-color: #666666;*/
  opacity: 0.3;
  font-family:'helvetica neue', 'segoe ui', sans-serif;
  font-size: 25px;
  /*border-color: #000000;
  border-style: solid;
  border-width: 2px;*/
}

#music_controls:hover {
  opacity: 0.8;
}

#music_buttons {
  padding: 15px;
}

/*.play {
  float: right;
  width: 90px;
  height: 50px;
  border-radius: 5px;
  border-color: #000000;
  background-color: #666666;
  color: white;
  font-size: 18px;
  padding-right: 15px;
}

button.play:hover {
  background-color: #B2B2B2;
}

.pause {
  float: right;
  width: 90px;
  height: 50px;
  border-radius: 5px;
  border-color: #000000;
  background-color: #666666;
  color: white;
  font-size: 18px;
  padding-right: 15px;
}

button.pause:hover {
  background-color: #B2B2B2;
}*/

.mute {
  float: right;
  width: 90px;
  height: 50px;
  border-radius: 5px;
  border-color: #00008B;
  border-width : 3px;
  background-color: #6495ED;
  color: white;
  font-size: 18px;
  padding-right: 15px;
}

button.mute:hover {
  background-color: white;
  color: #00008B;
}