@(l1 : Boolean, l2 : Boolean, l3 : Boolean, l4 : Boolean, l5 : Boolean)
<!DOCTYPE html>
<html>
	<head>
		<title>Success!!</title>
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/reset.css">
		<link rel="stylesheet" href="/assets/stylesheets/levelsuccess.css" >
		<link rel="stylesheet" type="text/css" href="/assets/javascripts/jquery-ui/jquery-ui-1.10.4/themes/base/jquery-ui.css">
		<script src="/assets/javascripts/jquery-2.1.0.min.js"></script>
		<script src="/assets/javascripts/jquery-ui/jquery-ui-1.10.4/ui/jquery-ui.js"></script>
    <script src="/assets/javascripts/level1.js"></script>
    <script type="text/javascript" src="/assets/javascripts/steveswimming.js"></script>
	</head>
	<body onload="bubbles()">
		<div class="bubbles">
      <img id="scuba_steve" src="/assets/images/scuba_dive_md_clr1.gif" alt="" onload="startMoving(this)">
		</div>
    <audio id="splash" src="/assets/audio/water_splash.mp3" type="audio/mpeg" autoplay>
    <audio id="swim" src="/assets/audio/deep_underwater_ambience_002.mp3" type="audio/mpeg" autoplay loop>
		<script type="text/javascript">
			function bubbles() {
				var $bubbles = $('.bubbles');
				// Settings
				var min_bubble_count = 20, // Minimum number of bubbles
    			max_bubble_count = 40, // Maximum number of bubbles
    			min_bubble_size = 5, // Smallest possible bubble diameter (px)
    			max_bubble_size = 8; // Largest possible bubble diameter (px)
				// Calculate a random number of bubbles based on our min/max
				var bubbleCount = min_bubble_count + Math.floor(Math.random() * (max_bubble_count + 1));
				// Create the bubbles
				for (var i = 0; i < bubbleCount; i++) {
  				$bubbles.append('<div class="bubble-container"><div class="bubble"></div></div>');
				}
				// Now randomise the various bubble elements
				$bubbles.find('.bubble-container').each(function(){
  				// Randomise the bubble positions (0 - 100%)
  				var pos_rand = Math.floor(Math.random() * 101);
  				// Randomise their size
  				var size_rand = min_bubble_size + Math.floor(Math.random() * (max_bubble_size + 1));
  				// Randomise the time they start rising (0-15s)
  				var delay_rand = Math.floor(Math.random() * 16);
  				// Randomise their speed (3-8s)
  				var speed_rand = 3 + Math.floor(Math.random() * 9);
  				// Cache the this selector
  				var $this = $(this);
  				// Apply the new styles
  				$this.css({
    					'left' : pos_rand + '%',

	     				'-webkit-animation-duration' : speed_rand + 's',
  	  				'-moz-animation-duration' : speed_rand + 's',
    					'-ms-animation-duration' : speed_rand + 's',
    					'animation-duration' : speed_rand + 's',
    
    					'-webkit-animation-delay' : delay_rand + 's',
    					'-moz-animation-delay' : delay_rand + 's',
      				'-ms-animation-delay' : delay_rand + 's',
  	  				'animation-delay' : delay_rand + 's'
  				});
  
  				$this.children('.bubble').css({
    					'width' : size_rand + 'px',
    					'height' : size_rand + 'px'
  				});
  
				});
			}
		</script>
		<div id="success_dialog" title="Level Complete!" style="display:none;">
      @if(l1 && l2 && l3 && l4 && l5) {
        <p>Congratulations, you've unlocked all the pieces of the Starfish Key!</p>
        <img src="/assets/images/starfish.PNG" id="Starfish Key">
      } 
      @if(l1 && l2 && !l3) {
        <p>Congratulations, you unlocked a piece of the Starfish Key!</p>
        <img src="/assets/images/starfish2.PNG" id="Starfish Key2">
      } 
      @if(l1 && l2 && l3 && !l4) {
        <p>Congratulations, you unlocked a piece of the Starfish Key!</p>
        <img src="/assets/images/starfish3.PNG" id="Starfish Key3">
      } 
      @if(l1 && l2 && l3 && l4 && !l5) {
        <p>Congratulations, you unlocked a piece of the Starfish Key!</p>
        <img src="/assets/images/starfish4.PNG" id="Starfish Key4">
      } 
      @if(l1 && !l2) {
        <p>Congratulations, you unlocked a piece of the Starfish Key!</p>
        <img src="/assets/images/starfish1.PNG" id="Starfish Key1">
      }
			<br><button class="replay_button" onclick="location.href='/Level1';">Replay</button>
			<button class="back_to_map" onclick="location.href='/map';">Back to Map</button>
		</div>
	</body>
</html>