@(names : List[String], levelIds : List[Integer], scores : List[Double], times: List[String], admin: Boolean)
<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<title>Progress Report</title>
		<link rel="stylesheet" href="/assets/stylesheets/records.css"/>
		
		<script type="text/javascript" src="/assets/javascripts/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/assets/javascripts/studentrecords.js"></script>
	</head>
	<body class="game_body">
		<div id="title_banner">
			<text id="recordtitle">Grade Report for @names(0) @names(1)</text>
			@if(admin) {
				<button class="mainmenu_button" onclick="location.href='/adminwelcome';">Main Menu</button>
			} else {
				<button class="mainmenu_button" onclick="location.href='/welcome';">Main Menu</button>
			}
			<button class="logout_button" onclick="location.href='/logout';">Logout</button>
		</div>
		<div class="recordsdiv">
			<table class="recordtable">
				<th class="recordheader">Level</th>
				<th class="recordheader">Score</th>
				<th class="recordheader">Time</th>
				<th class="recordheader">Certificates</th>
				@for( a <- 0 to 10){
						<tr class="recordrow">
					        <td>Level @levelIds(a)</td>
					        <td name="score">@scores(a)</td>
					        <td>@times(a)</td>
					        <td><button onclick="sendDemNamesAndScores(this.id, '@names(0) @names(1)')" class="certButton" type="button" id=@a>Certificate</button></td>
				         </tr>
		      	}
			</table>
			
		<div id="certificateDiv">
		</div>
		
		<div id="music_controls">
				<!-- <h4>MUSIC CONTROLS</h4> -->
				<div id="music_buttons">
					<!-- <button class="play" onclick="document.getElementById('player').play()">Play Music</button>
					<button class="pause" onclick="document.getElementById('player').pause()">Pause Music</button> -->
					<button class="mute" onclick="document.getElementById('player').muted=!document.getElementById('player').muted">Mute Music</button>
				</div>
			</div>
			<audio id="player" autoplay loop>
				<source src="/assets/audio/SteveThemeRepeat.ogg" type="audio/ogg" >
				<source src="/assets/audio/SteveThemeRepeat.mp3" type="audio/mpeg" >
			</audio>
	</body>
</html>