@(names : List[String], levelIds : List[Integer], scores : List[Double], times: List[String])
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/assets/stylesheets/records.css">
	</head>
	<body>
	
		<div class="recordsdiv">
			<h1>Grade Report for @names(0) @names(1)</h1>
			<table class="recordtable">
			
				<th class="recordheader">Level</th>
				<th class="recordheader">Score</th>
				<th class="recordheader">Time</th>
				@for( a <- 0 to levelIds.length-1){
				<tr class="recordrow">
			        <td>Level @levelIds(a)</td>
			        <td>@scores(a)</td>
			        <td>@times(a)</td>
			        
		         </tr>
		      	}
			</table>
		</div>
	
	</body>
</html>