<html>
	<head>
		<link rel="stylesheet" href="common.css" type="text/css" />
		
		<script type="text/javascript" src="jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="login.js"></script>
	</head>
	<body class="bodyStyle"  background="welcome.png" >
			<text id="titleText" class="hugeTitleText">Welcome!</text>
			<div class="farRight buttonDivVertical">
				<button id="map" class="bigbutton textSettings farRight">Map</button>
				<button id="progress" class="bigbutton textSettings farRight">Progress Report</button>
			</div>
	</body>
</html>